data/*.csv
data/database.db
data/*.sqlite
index/faiss_index/
index/sentence-transformers/
.cache/
*.zip


__pycache__/
*.pyc
*.pyo
*.pyd
*.log


.env
.env.*
.venv/
.ruff_cache/
.pytest_cache/


.idea/
.vscode/
.DS_Store
Thumbs.db
