name: playful_chef_app
services:
  playfulchef_api:
    build: .
    image: playful_chef_api:latest
    environment:
      - LLM_API_KEY=${LLM_API_KEY}
    volumes:
      - ./index/sentence-transformers:/app/index/sentence-transformers
  caddy:
    image: caddy:2-alpine
    command: caddy run --watch --config /etc/caddy/Caddyfile
    environment:
      HOST: localhost:8080
    ports:
      - "8080:8080"
    volumes:
      - ./caddy/conf:/etc/caddy:ro
      - caddy-data:/data
volumes:
  caddy-data:
