[Unit]
Description=Python API

[Container]
ContainerName=playfulchef_api
Image=ghcr.io/playful-chef/playful-chef-api:latest
AutoUpdate=registry
Pod=playfulchef.pod

[Service]
Restart=always
