name: publish

on:
  push:
    branches:
      - "main"

permissions:
  packages: write

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Build
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          context: .
          tags: latest ${{ github.sha }}
          image: playful-chef/playful-chef-api
          # platforms: linux/amd64, linux/arm64
          containerfiles: |
            ./Dockerfile
      - name: push
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
